/* body */
body {
  font-family: "Roboto", sans-serif;
  color: #707071;
}

/* navbar */

.navbar .container a {
  font-weight: bold;
}
.navbar .container a:hover {
  font-weight: bold;
  color: #d27000;
}

/* carousel */
/* #carousel img {
  height: 100em;
  width: 100em;
} */

#carousel img {
  margin-top: 4%;
}

/* Layanan Kami */
#melayani .container {
  margin-top: 6%;
}

#melayani .row {
  margin-top: 0%;
}

#melayani .container h5 {
  margin: 25px;
}

#melayani .container .row {
  margin: auto;
}

#melayani .col .card-body {
  transition: 0.5s;
}

#melayani .col .card-body:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

/* Location */
#location {
  width: 100%;
  margin: auto;
  padding: 18%;
}
#location iframe {
  width: 100%;
}

/* footer */
#footer {
  width: 100%;
  height: 12vh;

  color: #ffffff;
}

#footer .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#footer .row .col {
  margin-top: 1%;
}

#footer .row .col a {
  font-size: 85%;
  text-decoration: none;
  color: #ffffff;
}
